@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

.contact-section-container{
    display:flex;
    flex-direction: column;
    background: linear-gradient(#e3e3e3, #fff);
    width: 100vw;
    height: 710px;
 


    h2 {
        text-align: center;
        font-family: 'Major Mono Display', cursive;
        font-size:3.5rem;
        color: rgba(25, 145, 196, 0.5);

    }
}

.contact-blue-square {
    background: rgba(25, 145, 196, 0.5);
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 160px;
    padding: 30px;
    left: 60px;
    border-radius: 20px;
   
    
}