@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Krub');

.work-section-container{
    display:flex;
    width: 100vw;
    height: 710px;
    flex-direction: column;

    h2 {
        text-align: center; 
        font-family: 'Major Mono Display', cursive;
        font-size:3.5rem;
        color: rgba(25, 145, 196, 0.5);

    }
    
}

.blue-circle-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.blue-circle-1,
.blue-circle-2,
.blue-circle-3{
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 50%;
    background: rgba(25,145,196,.5);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Krub', sans-serif;
    letter-spacing: 0.25px;
    font-size: 1.4rem;
}


