@import url('https://fonts.googleapis.com/css?family=Krub');

.gradient-panel-container {
    background: linear-gradient(#fff, #e3e3e3);
    height: 800px;
    width: 100vw;
}

.blue-circle {
   background: rgba(25,145,196,.5);
   border-radius:50%;
   width: 300px;
   height:300px;
   position:absolute;
   bottom: 100px;
   left: 80px;
   display:flex;
   padding:10px;

   &__quote {
    margin: auto;
    text-align: center;
    font-family: 'Krub', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: .25px;
    font-size: 18px;
       
   }
}